# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.setup-cache
.DS_Store
dist
*.local
uniCloud-aliyun/cloudfunctions/common/uni-config-center/uni-id/config.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
